Welcome to the theme park <%=@user.name %>! 

<br></br>
<% if @user.admin == true %>
  ADMIN
  <% else %>
  GUEST
  <% end %>

<p>Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %></p>

<%= button_to "Log Out", logout_path %>

<%= link_to "Edit", edit_user_path(@user) %>
<br></br>
<%= link_to "See attractions", attractions_path %>

<%= @user.rides.last.take_ride if @user.rides.size > 0 %>