<% if logged_in? %>
  <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
  <a class="navbar-brand" href="<%= user_path(@user) %>"/>Hello<%=@user.name%>!</a>
  <a class="navbar-brand" href="<%= attractions_url %>"/>Attractions</a>
  <%= link_to "Log Out", logout_path, method: :post %>
<% else %>
  <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
  <a class="navbar-brand" href="<%= new_user_url %>"/>Sign up</a>
  <a class="navbar-brand" href="<%= signin_url %>"/>Sign in</a>
<% end %>


